@use "variables" as *;

.navbar {
  background-color: $secondary-color;
  padding: 15px;

  .nav-item .nav-link {
    color: #fff; 
    transition: color 0.3s ease;

    &:hover {
      color: $hover-color;
      background-color: $hover-bg;
      transition: background-color 0.3s ease;
    }
  }
}
