// Colores
$secondary-color: #4e342e;
$hover-color: #ffe082;
$hover-bg: #66BB6A;
$hover-bg-dark: #388E3C;
$card-shadow-color: rgba(0, 0, 0, 0.2);
$color-primary: #007bff;
$color-hover-primary: #0056b3;
$color-secondary: #28a745;
$color-hover-secondary: #218838;

// Otros
$transition-duration: 0.3s;
